flows (1).json
[
    {
        "id": "35e6f34149e43ba1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d2a97ace62c32322",
        "type": "mqtt in",
        "z": "35e6f34149e43ba1",
        "name": "",
        "topic": "wokwi/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "743a005bdfc71367",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "a52520cd7f7a6f8e",
                "e5069a16eb9ec2c8"
            ]
        ]
    },
    {
        "id": "e5069a16eb9ec2c8",
        "type": "json",
        "z": "35e6f34149e43ba1",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "356d8370bbd4c0df",
                "4db4f3b4b6e4f80c"
            ]
        ]
    },
    {
        "id": "a52520cd7f7a6f8e",
        "type": "debug",
        "z": "35e6f34149e43ba1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 240,
        "wires": []
    },
    {
        "id": "356d8370bbd4c0df",
        "type": "ui_gauge",
        "z": "35e6f34149e43ba1",
        "name": "Temperature",
        "group": "be4379abb9986d00",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "donut",
        "title": "Temperature",
        "label": "units",
        "format": "{{payload.temperature}} °C",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "4db4f3b4b6e4f80c",
        "type": "ui_gauge",
        "z": "35e6f34149e43ba1",
        "name": "humidity",
        "group": "be4379abb9986d00",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{payload.humidity}} % ",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "c07538caedee67dc",
        "type": "ui_spacer",
        "z": "35e6f34149e43ba1",
        "name": "spacer",
        "group": "be4379abb9986d00",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "78f37275e39654e0",
        "type": "ui_spacer",
        "z": "35e6f34149e43ba1",
        "name": "spacer",
        "group": "be4379abb9986d00",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "185d6b929d32d2af",
        "type": "ui_spacer",
        "z": "35e6f34149e43ba1",
        "name": "spacer",
        "group": "be4379abb9986d00",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "743a005bdfc71367",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "be4379abb9986d00",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "199d0f416f4bbc38",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "199d0f416f4bbc38",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]